

RINKEBY_RPC_URL = 'https://eth-rinkeby.alchemyapi.io/v2/0ARhs6YYUcao9GSvCk60ywTs4ODWIIKj'
PRIVATE_KEY = 'f24393ca6a346aa9559953f6ec20f52294fb922f8fe71bef4d58d9401f6db906'
ETHERSCAN_TOKEN=UTDAW9XREE2QTACKPXBDEV7AA1X7VEVWMM